.container_style{
    padding-top: 98px !important;
    padding-bottom: 98px !important;
}
.portf{
    color:#2c3e50 !important;
    font-weight:bold !important;
    font-size: 48px !important;
    font-weight: 700 !important;
    font-family: "Montserrat", "-apple-system, BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
